<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="/write">Write</a>
          <a class="nav-item nav-link" href="/list">list</a>
          <a
            class="nav-item nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >preparing</a
          >
        </div>
      </div>
    </nav>

    <ul class="list-group">
      <% for (var i = 0; i < posts.length; i++){ %>
      <li class="list-group-item" data-id="<%=posts[i]._id %>">
        <p>글번호: <%=posts[i]._id%></p>
        <h4>할일 제목 : <%= posts[i].title %></h4>
        <p>할일 마감날짜 : <%= posts[i].date %></p>
        <button class="delete" data-id="<%=posts[i]._id %>">삭제</button>
      </li>
      <% } %>
    </ul>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(".delete").click(function (e) {
        let listNum = e.target.dataset.id;
        $.ajax({
          method: "DELETE",
          url: "/delete", //요청할 경로
          data: { _id: listNum }, //요청과 함께 보낼 데이터
        }).done(function (result) {
          location.reload();
        });
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
